.boxshadow{
    border: 3px solid mediumaquamarine;
    padding: 48px;
    margin: 84px;
    display: inline-block;
    box-shadow: 23px 13px 23px 1px rgb(209, 120, 120);
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color]; */
    horizontal offset determines the horizontal distance the shadown wil be offset for the element .

    /* vertical offset defines distance from the content box in the above case it 23px from box downwards */

    /* blur radius justify how much blur to apply for the shadow  */

    /* spread radius determines how much the shadow should expand or contract and if the value is positive it will expand and if negative it will contract */
}
.textelement{
    text-shadow: 23px 12px 23px blue;
 /* the shadow property is also used for text which is used to creatshadow in text and same as box its property changes init  */
}