/* variables are used to  */
:root{
    --color:blue;
    --seccolor:rgb(80, 80, 138);
    --defpad:23px;
    --defop:0.2;

}
*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(32, 36, 35);
}
 ul{
    display: flex;
}
ul li{
    opacity: 0.3;
    list-style: none;
    padding: 34px;
    border: 2px solid var(--color);
}
ul li :first-child{
    --color:pink;
    background-color:var(--color);

}
.container{
    background-color: var(--seccolor);
}

/* https://youtu.be/ovRU9xHfly4list=PLu0W_9lII9agq5TrH9XLIKQvv0iaF2X3w */